# App
EXPOSE_PORT=41012
BUILD_DATE=2026-06-04
CORS_ALLOW_ORIGINS=http://localhost:3000
BASE_DIR=/home/runner/work/V2-Backend/V2-Backend

# PostgreSQL
POSTGRES_PORT=5432
POSTGRES_DB=trustmark
POSTGRES_USER=trustmark
POSTGRES_PASSWORD=trustmark

# Keycloak
KEYCLOAK_USER=admin
KEYCLOAK_PASS=admin
KEYCLOAK_ISSUER=http://localhost:8080/realms/nextjs-kc
KEYCLOAK_ISSUER_URL=http://localhost:8080/realms/nextjs-kc

# blockchain
BLOCKCHAIN_RPC_URL=http://127.0.0.1:8545
BLOCKCHAIN_PRIVATE_KEY=0xac0974bec39a17e36ba4a6b4d238ff944bacb478cbed5efcae784d7bf4f2ff80

# Test mode (bypasses authentication)
TEST_MODE=True